* {
	border: solid red .05em;
}


body {
	font-size: 100%;
	margin-top: 3em;
	margin-left: 4em;
}
#top, #middle, #bottom {
	width: 30em;
	margin: auto;
}
#search-container {
	text-align: right;
	margin:auto;
	width: 30em;
}

li {
	list-style: none;
}

#remove-list, #clear{
	display: none;
}
#list-id{
	display: none;
}
.first, .second {
	display: inline-block;
	width: 7em;
	text-align: center;
}

#list-name{
	display: block;
    text-align: center;
    font-style: oblique;
    font-size: 1.2em;
    margin-right: 4em;
}