@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0em 0em 0em 0em;
}
/*
color pallette
#6D728B
#F2F2F0
#F3A193
#F5CDC6
#D86A5D
*/
h1 {
    display: inline-block;
    margin-left: 2em;
    margin-top: 0em;
    font-size: 3em;
    padding-top: .2em;
    color: #454858;
}
#search-container {
    display: inline-block;
    float: right;
    margin: .5em;
    margin-right: 2em;
    padding-top: .5em;
}
h2 {

}
.header-image {
    background-image: url('/assets/pbank.jpg'); 
    margin: auto;
    display: block;
    margin: auto;
    height: 30em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    box-shadow: 0px 1px 10px 0px #D86A5D;
}
.main-list {
    padding-top: 1em;
    background: #F5CDC6; /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to left, #F3A193 , #6D728B);  //Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to left, #F3A193 , #6D728B); //W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.budget-table {
    display: none;
}

#cat-name{
    display: none;
}
.cat-name-display {
    font-size: 3em;
    /* margin: 1em auto; */
    text-transform: capitalize;
}
#cat-name-input {

}
#cat-list {
    display: none;
}
.cat-name-insert {

}
.lookup-button {
    border: .02em solid white;
    border-radius: 5px;
    vertical-align: bottom;
    width: 4em;
    margin-left: .1em;
    padding-bottom: .2em;
    background-color: #F3A193;
    color: white;
    font-weight: 100;
}
.editName{
    display:none;
    width:6.6;
}
.dbId{
    display: none;
}
.money-wrapper-top{

}
.money-wrapper {
    display: inline-block;
}
.dollar-sign-form{
    font-size: 1.5em;
    margin-left: .25em;
    margin-right: .1em;
}
.middle {
    width: 90%;
}
#middle {
    margin: auto;
    color: #454858;
}
.bottom {
    width: 90%;
    margin: auto;
    color: #454858;
}
#bottom {
    display: none;
}
.top {
    width: 90%;
    margin: auto;
    color: #454858;
}
.instructions {

}
.numbers-entry {

}

li {
	list-style: none;
}
input {
	font-size: 1em;
}
.input-button {
    font-size: 1.6em;
    border: .02em solid white;
    border-radius: 5px;
    vertical-align: bottom;
    width: 4em;
    margin-left: .1em;
    padding-bottom: .2em;
    background-color: #F3A193;
    color: white;
    font-weight: 100;
}
.input-button:hover {
    background-color: #D86A5D;
    cursor: pointer;
}
.cat-name {
    font-size: 1.5em;
    border: none;
    padding: .2em;
    border-radius: 5px;
}
.input-item {
    font-size: 1.5em;
    border: none;
    padding: .2em;
    border-radius: 5px;
}
.input-price {
    font-size: 1.5em;
    border: none;
    padding: .2em;
    border-radius: 5px;
}
#dcat{
	/*display: none;*/
}

#list-id{
	display: none;
}
.first, .second {
    display: inline-block;
    width: 7em;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: .01em;
    margin-top: .5em;
}
.delete-button{
    font-size: .5em;
    width: 1.7em;
    background-color: red;
    border-radius: 5px;
    color: white;
    border: none;
    /* padding-bottom: .2em; */
    padding-top: .2em;
    text-transform: capitalize;
    margin-left: 1.5em;
    margin-top: .4em;
}
.delete-button:hover {
    background-color: darkred;
    cursor: pointer;
}

.title {
    font-size: 1.75em;
}
.name {
    display: inline-block;
    float: right;
    margin-right: 10%;
    margin-top: .9em;
    
}
.row-list {
    font-size: 2em;
    font-weight: 100;
    text-transform: capitalize;
}
#hover-icon {
    font-size: .5em;
    font-family: serif;
    vertical-align: top;
    margin-left: .2em;
    color: cornflowerblue;
    cursor: pointer;
}
#hover-explanation {
    display: none;
    /*display: inline-block;*/
    width: 17em;
    vertical-align: top;
    font-size: .8em;
    margin-left: 1em;
}

.truevalue {
    font-size: 2em;
    font-weight: 100;
    text-align: left;
    width: 9em;
    margin: 1em 0 .5em 0;
}
#truevalue{
    display: none;
}
.clear-button{
    font-size: 1.6em;
    border: .02em solid white;
    border-radius: 5px;
    vertical-align: bottom;
    width: 4em;
    margin-left: .1em;
    padding-bottom: .2em;
    background-color: #F3A193;
    color: white;
    font-weight: 100;
}
.clear-button:hover {
    background-color: #D86A5D;
    cursor: pointer;
}
.delete-cat-button{
    font-size: 1em;
    border: .02em solid white;
    border-radius: 5px;
    vertical-align: bottom;
    width: 6em;
    margin-left: .1em;
    padding-bottom: .2em;
    background-color: #F3A193;
    color: white;
    font-weight: 100;
}
.delete-cat-button:hover{
    background-color: darkred;
    cursor: pointer;
}
#footer {
	height: 100em;
}
#add-to-list, #save-updated-list, #get-history, #save{
}
#foot{
    display: none;
    /*border: none;*/
    /*background: transparent;*/
};
#clickable{
    border: none;
    background: yellow;
}
@media only screen and (max-width: 1200px) {
    .header-image {
        height: 30em;
    }
}
@media only screen and (max-width: 600px) {
   /* .header-image {
        background-image: url('/assets/pbank-m.jpg'); 
    }
    */
    .row-list {
        font-size: 1.8em;
    }
    .middle {
        width: 90%;
    }
    .truevalue {
        font-size: 1.8em;
    }
    .money-wrapper-top {
        margin-left: 1.3em;
    }

}
@media only screen and (max-width: 500px) {
    .header-image {
        background-image: url('/assets/pbank-m.jpg'); 
    }
    .top {
        font-size: .85em;
    }
    .middle {
        font-size: .75em;
    }
    .bottom {
        font-size: .75em;
    }

}
@media only screen and (max-width: 400px) {
    .row-list {
        font-size: 1.5em;
    }
    .truevalue {
        font-size: 1.6em;
    }
    .numbers-entry {
        font-size: .85em;
    }
}


