@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
body {
    background-color: #F0F720;
    font-family: 'Roboto Condensed', sans-serif;

	background: #F0F720; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #BABF22 , #F0F720); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-size: 100%;
	height: auto;
}

h1 {
    font-style: italic;
    width: 20em:
    margin: auto;
    text-align: center;
}
h2 {

}
#cat-name{
    display: none;
}
.editName{
    display:none;
    width:6.6;
}
#login{
    margin-left: 65%;
}
#login-form{
    display: none;
}
.dbId{
    display: none;
}

#top, #middle, #bottom {
	width: 35em;
	margin: auto;
}
#bottom {
    display: none;
}
#search-container {
	margin-left: 50%;
	width: 30em;
}	

li {
	list-style: none;
}
input {
	font-size: 1em;
}
button:hover {
    background-color: #f55b59;
    cursor: pointer;
}

#delete-category{
	display: none;
    margin-left: 40%;
}
#list-id{
	display: none;
}
.first, .second {
	display: inline-block;
	width: 7em;
	text-align: center;
    border-bottom-style: solid;
    border-bottom-width: .1em;
}
#header{

}

.title{
    font-size: .9em;

}
#name {
    display: block;
    font-style: oblique;
    
}
#truevalue{
    width: 60%;
    margin: auto;
    display: none;
}
#footer {
	height: 100em;
}

#add-to-list, #save-updated-list, #get-history, #save{
}
#foot{
    display: none;
    /*border: none;*/
    /*background: transparent;*/
};
#clickable{
    border: none;
    background: yellow;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    body {
        font-size: 140%;
    }
    input {
        font-size: 1.5em;
    }
    span {
        font-size: 2em;
    }

}


