@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
body {
    background-color: #F0F720;
    font-family: 'Roboto Condensed', sans-serif;

	background: #F0F720; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #BABF22 , #F0F720); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-size: 100%;
	height: auto;
}

h1 {
    font-style: italic;
    width: 20em:
    margin: auto;
    text-align: center;
}
h2 {

}

#top, #middle, #bottom {
	width: 35em;
	margin: auto;
}
#bottom {
    display: none;
}
#search-container {
	
	width: 30em;
}	

li {
	list-style: none;
}
input {
	font-size: 1em;
}
button:hover {
    background-color: #f55b59;
    cursor: pointer;
}

#remove-list, #clear{
	display: none;
}
#list-id{
	display: none;
}
.first, .second {
	display: inline-block;
	width: 7em;
	text-align: center;
    border-bottom-style: solid;
    border-bottom-width: .1em;
}

.title{
    font-size: .9em;
}
#name {
    display: block;
    font-style: oblique;
    font-size: 1.5em;
}
#footer {
	height: 100em;
}

#add-to-list, #save-updated-list, #get-history, #save{
    background-color: #F7F5B5;
    /*box-shadow: inset 0 0 0 3px #6cc091;*/
    color: #6cc091 !important;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: .75em;
    font-weight: 400;
    height: 2em;
    line-height: 2.1em;
    letter-spacing: 2px;
    padding: 0 4em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap; *
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    body {
        font-size: 140%;
    }
    input {
        font-size: 1.5em;
    }
    span {
        font-size: 2em;
    }

}


